DB_USER=postgres
DB_PASSWORD=secret_postgres_pass
DB_NAME=paulo_lab_db
DB_HOST=localhost
DB_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@paulo-lab.com
PGADMIN_DEFAULT_PASSWORD=admin

BACKEND_URL=http://localhost:3001
FRONTEND_PORT=5173

jwt_secret=sua_chave_secreta_jwt_aqui
